<ion-list style="background-color: #5B5EA6; padding: 10px; border-radius: 25px;">
  <ion-item style="--ion-item-background: transparent;" lines="none">
    <ion-icon name="arrow-back" (click)="backPressed.emit()" style="margin-right: 10px;"></ion-icon>
    <h1>Friend Invites</h1>
  </ion-item>
  @for(uid of (friendInvites$ | async); track uid){
    <ion-item style="--ion-item-background: #EFC050; border-radius: 25px; margin-top: 15px;" lines="none">
      <ion-chip style="background-color: transparent; min-height: 50px;">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h2>{{uid | uidToUsername | async}}</h2>
        </ion-label>
      </ion-chip>
      <ion-icon name="checkmark-circle" style="color: lightgreen;" slot="end" (click)="acceptFriendRequest(uid)"></ion-icon>
    </ion-item>
  }
</ion-list>
