.reset-list {
  background-color: #b5179e;
  border-radius: 25px;
  padding: 15px;
}

.header-item{
  --ion-item-background: transparent;
  text-align: center;
}

.header-text{
  font-size: xx-large;
  min-width: 50px;
}

.reset-form{
  background-color: #560bad;
  border-radius: 25px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px;
}

.form-item{
  --ion-item-background: #4895ef;
  border-radius: 25px;
  margin-bottom: 10px;
}

.button-reset-item{
  --ion-item-background: #50b2c0;
  border-radius: 25px;
  width: 80%;
  margin: auto;
}

.button-reset-label{
  text-align: center;
}

.button-reset-text{
  min-width: max-content;
}
