<ion-list class="reset-list" lines="none">
  @if(successfulReset){
  <ion-item class="header-item" lines="none">
    <ion-icon name="arrow-back" (click)="backPressed.emit()"></ion-icon>
    <ion-label>
      <h1 class="header-text">Reset Password Success</h1>
      <h4>Check for email</h4>
    </ion-label>
  </ion-item>
  } @else {
  <ion-item class="header-item" lines="none">
    <ion-icon name="arrow-back" (click)="backPressed.emit()"></ion-icon>
    <ion-label>
      <h1 class="header-text">Reset Password</h1>
    </ion-label>
  </ion-item>
  <form class="reset-form">
    <ion-item class="form-item">
      <ion-input label="Email" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
  </form>
  <ion-item class="button-reset-item" (click)="sendPasswordReset()">
    <ion-label class="button-reset-label">
      <h2 class="button-reset-text">Send Email</h2>
    </ion-label>
  </ion-item>
  }
</ion-list>
