.container {
  height: 100%;
  width: 100%;
  background-color: #79ccb3;
  overflow: auto;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

app-profile-user-details,
app-profile-user-settings,
app-profile-user-personal-data {
  width: 80%;
  margin: auto;
}
