<ion-list class="details-list" lines="none">
  <ion-item class="avatar-item">
    <ion-label class="avatar-label">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-label>
  </ion-item>
  <ion-item class="detail-item">
    <ion-icon class="detail-icon" name="person"></ion-icon>
    <ion-label class="detail-label">
      <h1 class="detail-text"><strong>{{uid | uidToUsername | async}}</strong></h1>
    </ion-label>
  </ion-item>
  <ion-item class="detail-item">
    <ion-icon class="detail-icon" name="people"></ion-icon>
    <ion-label class="detail-label">
      <h2 class="detail-text"><strong>{{friendCount$ | async}} </strong> Friends</h2>
    </ion-label>
  </ion-item>
  <ion-item class="detail-item">
    <ion-icon class="detail-icon" name="git-branch"></ion-icon>
    <ion-label class="detail-label">
      <h2 class="detail-text"><strong>{{planCount$ | async}} </strong> Plans</h2>
    </ion-label>
  </ion-item>
  <ion-item class="detail-item">
    <ion-icon class="detail-icon" name="location"></ion-icon>
    <ion-label class="detail-label">
      <h2 class="detail-text"><strong>{{customLocationCount$ | async}} </strong> Custom Locations</h2>
    </ion-label>
  </ion-item>
  <ion-item class="button-item">
    <ion-label class="button-label button-settings" (click)="settingsPressed.emit()">
      <h2 class="button-text">Settings</h2>
    </ion-label>
    <ion-label class="button-label button-personal" (click)="personalPressed.emit()">
      <h2 class="button-text">Personal</h2>
    </ion-label>
  </ion-item>
</ion-list>
