<ion-list class="personal-list" lines="none">
  <ion-item class="header-item">
    <ion-icon name="arrow-back" (click)="backPressed.emit()"></ion-icon>
    <h1>Settings</h1>
  </ion-item>
  <ion-item class="setting-item">
    <ion-label class="setting-label">
      <ion-toggle justify="space-between" [checked]="(userData| async)?.settings?.accountPrivate" (ionChange)="updateAccountPrivate($event.detail.checked)">Account Private?</ion-toggle>
    </ion-label>
  </ion-item>
  <ion-item class="setting-item">
    <ion-label class="setting-label">
      <ion-toggle justify="space-between" [checked]="(userData| async)?.settings?.locationAllowed" (ionChange)="updateLocationAllowed($event.detail.checked)">Location Allowed?</ion-toggle>
    </ion-label>
  </ion-item>
</ion-list>
