<ion-header style="background-color: #00c991;">
  <ion-toolbar style="padding-top: 20px; --background: #8A2BE2; --border-width: 0;">
    <ion-searchbar [debounce]="1000" (ionInput)="updateIsSearching($event.detail.value)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    @if(isSearching){
    <app-browse-search [searchQuery]="searchQuery" (selectedFoursquareLocation)="openLocationDetailsModal($event)"></app-browse-search>
    }
    @else {
    <app-browse-discover (selectedFoursquareLocation)="openLocationDetailsModal($event)"></app-browse-discover>
    }
  </div>
</ion-content>
